.container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 200px;
  position: relative;
}

.iconContainer {
  display: flex;
  padding-top: 740px;
  padding-left: -500px;
  flex-direction: row-reverse;
  gap: 5px;
  position: absolute;
  scale: .7;


}

.miniContainer{
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;

}


body{
  background: #FBFFDC;
}


.circle {
  z-index: -10;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
  scale: 3;
  left: 50%;
  bottom: 0;
  border-radius: 50%;
  background: linear-gradient(to top right, #576F72, transparent);
  animation: ripple 20s infinite;
  box-shadow: 0px 0px 1px 0px #7D9D9C;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.medium{
  pointer-events: none;

  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  pointer-events: none;

  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  pointer-events: none;

  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }

  50%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(0.8);
  }
}

.textMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 720px;
  background-color: #F0EBE3;
  flex-direction: column;
}

.textMain p {
  font-size: 25px;
  text-align: center;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  /* Updated code */
  font-weight: bold;
  color: #000000; /* Change the color to stand out */
}


.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 854px;
  height: 480px;
  background-color: #E4DCCF;
  flex-direction: column;
}

.text p {
  font-size: 19px;
  color: #333;
  text-align: center;
  padding: 5px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
}

